<h1>Alpha Bloggers</h1>

<table>
  <thead>
  <tr>
    <th></th>
    <th>Username</th>
    <th>Email</th>
    <th>No of Articles</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= gravatar_for user, size: 30 %></td>
      <td><%= link_to user.username, user %></td>
      <td><%= user.email %></td>
      <td><%= user.articles.count %></td>
      <td><%= link_to 'Edit Profile', edit_user_path(user) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Home', root_path %>
</p>